<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.title?title:'Login Page' -%></title>
    
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/login/public/assets/favicon.jpg">
    <div class="background-container">
        <link rel="stylesheet" href="/login/public/style.css">
    </div>
    
    
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <!-- customized css -->
    <link rel="stylesheet" href="/login/public/style.css">
    
</head>
<body>

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/login/public/style.css">
    <title>Login</title>
</head>
<body>
